<div class="row">
  <div class="card border-primary col-sm-12 col-sm-offset-3">
    <div class="card-body">
      <h4 class="card-title">Logger Status</h4>
      <!--<p class="card-text">-->
      <div class="card-text">
        <h5>Status</h5>
        <table class="table table-hover">
          <tbody>
          <tr>
            <td scope="col" class="table-row">Status</td>
            <td scope="col" class="table-row">Logging</td>
          </tr>
          <tr>
            <td scope="col" class="table-row">Uptime</td>
            <td scope="col" class="table-row">10h 10m</td>
          </tr>
          <tr>
            <td scope="col" class="table-row">Spectras Downloaded</td>
            <td scope="col" class="table-row">1.337</td>
          </tr>
          </tbody>
        </table>
        <h5>Statistics</h5>
        <table class="table table-hover">
          <tbody>
          <tr>
            <td scope="col" class="table-row">Total Spectras</td>
            <td scope="col" class="table-row">13.337</td>
          </tr>
          <tr>
            <td scope="col" class="table-row">First Entry</td>
            <td scope="col" class="table-row">20.02.2018 - 15:35:10</td>
          </tr>
          <tr>
            <td scope="col" class="table-row">Latest Entry</td>
            <td scope="col" class="table-row">20.02.2018 - 15:35:10</td>
          </tr>
          </tbody>
        </table>
      </div>
      <!--</p>-->
    </div>
  </div>
</div>
