<div class="row">
  <div class="card border-primary col-sm-12 col-sm-offset-3">
    <div class="card-body">
      <button class="btn btn-dark float-md-right" type="button" (click)="refresh()">Refresh</button>
      <h4 class="card-title">Logger Status</h4>

      <!--<p class="card-text">-->
      <div class="card-text">
        <h5>Status</h5>
        <table class="table table-hover">
          <tbody>
          <tr>
            <td scope="col" class="table-row">Status</td>
            <td scope="col" class="table-row">{{ status.state }}</td>
          </tr>
          <tr>
            <td scope="col" class="table-row">Uptime</td>
            <td scope="col" class="table-row">{{ status.uptime }}</td>
          </tr>
          </tbody>
        </table>
        <h5>Statistics</h5>
        <table class="table table-hover">
          <tbody>
          <tr>
            <td scope="col" class="table-row">Spectras Downloaded (Current Session)</td>
            <td scope="col" class="table-row">{{ stats.spectrum_count }}</td>
          </tr>
          <tr>
            <td scope="col" class="table-row">Total Spectras</td>
            <td scope="col" class="table-row"> {{ stats.stats.total_count }}</td>
          </tr>
          <tr>
            <td scope="col" class="table-row">First Entry</td>
            <td scope="col" class="table-row">{{ toTime(stats.stats.first_spectrum) }}</td>
          </tr>
          <tr>
            <td scope="col" class="table-row">Latest Entry</td>
            <td scope="col" class="table-row">{{ toTime(stats.stats.latest_spectrum) }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <!--</p>-->
    </div>
  </div>
  <button type="button" class="btn btn-primary btn-lg btn-block" id="toggle-status-btn" (click)="this.toggleLogging()">
    {{status.state == "LOGGING" ? "Stop Logging" : "Start Logging"}}
  </button>
</div>
